
    *{
        color: var(--color-darkGray);
    }
    .App{
            margin-left: 30px;
            margin-right: 30px;
          
    }
@media screen and (min-width: 1024px) {
    *{

            padding-left: 1rem;
            padding-right: 1rem;

    }
}